<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>member_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver class</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@127.0.0.1:1521:XE</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>scott</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>tiger</param-value>
  </context-param>
  <listener>
    <listener-class>member.listener.DriverLoadingListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RegisterMemberServlet</display-name>
    <servlet-name>RegisterMemberServlet</servlet-name>
    <servlet-class>member.servlet.RegisterMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMemberServlet</servlet-name>
    <url-pattern>/register_member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterMemberServlet2</display-name>
    <servlet-name>RegisterMemberServlet2</servlet-name>
    <servlet-class>member.servlet.RegisterMemberServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMemberServlet2</servlet-name>
    <url-pattern>/register_member2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>member.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>member.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLoginMemberInfoServlet</display-name>
    <servlet-name>GetLoginMemberInfoServlet</servlet-name>
    <servlet-class>member.servlet.GetLoginMemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLoginMemberInfoServlet</servlet-name>
    <url-pattern>/getMemberInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyFormServlet</display-name>
    <servlet-name>ModifyFormServlet</servlet-name>
    <servlet-class>member.servlet.ModifyFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFormServlet</servlet-name>
    <url-pattern>/modifyForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMemberServlet</display-name>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <servlet-class>member.servlet.ModifyMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <url-pattern>/modifyMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMemberServlet</display-name>
    <servlet-name>RemoveMemberServlet</servlet-name>
    <servlet-class>member.servlet.RemoveMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMemberServlet</servlet-name>
    <url-pattern>/removeMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllMemberInfoServlet</display-name>
    <servlet-name>GetAllMemberInfoServlet</servlet-name>
    <servlet-class>member.servlet.GetAllMemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllMemberInfoServlet</servlet-name>
    <url-pattern>/getAllMemberInfo</url-pattern>
  </servlet-mapping>
</web-app>